.link-item {
  .q-focus-helper {
    opacity: 0.06 !important;
  }
  &.sublinks {
    .q-item__section--avatar {
      min-width: auto;
    }
    .q-icon {
      font-size: 16px;
    }
  }
  &.q-item,
  &.sublinks .sublink-header {
    font-weight: 500;
  }
  &.q-item,
  &.sublinks .q-item {
    color: black;
  }
  &.active,
  &.sublinks .active {
    background: var(--q-bg-active-menu);
    font-weight: 500;
  }
  &.sublinks .sublink-active {
    font-weight: 500;
  }
}

.sublinks.q-expansion-item--expanded {
  .base-item:before {
    z-index: 1;
  }
  .base-item:before,
  .base-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0.7rem;
    width: 1.3125rem;
    height: 2.75rem;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.15s cubic-bezier(0.19, 0.91, 0.38, 1);
  }

  .base-item:not(.active ~ .base-item):before {
    opacity: 1;
    content: url('data:image/svg+xml,%3Csvg width="21" height="40" viewBox="0 0 21 40" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="9" width="1.5" height="40" fill="%23B5B5B5"/%3E%3C/svg%3E');
  }

  .base-item.active:before {
    opacity: 1;
    content: url('data:image/svg+xml,%3Csvg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 14.25H19.75V15.75H19V14.25ZM10.077 13.362L10.7452 13.0215V13.0215L10.077 13.362ZM11.388 14.673L11.7285 14.0048H11.7285L11.388 14.673ZM10.5 0V10.2H9V0H10.5ZM14.55 14.25H19V15.75H14.55V14.25ZM10.5 10.2C10.5 11.0525 10.5006 11.6467 10.5384 12.1093C10.5755 12.5632 10.6446 12.824 10.7452 13.0215L9.40873 13.7025C9.18239 13.2582 9.08803 12.7781 9.04336 12.2315C8.99942 11.6936 9 11.0277 9 10.2H10.5ZM14.55 15.75C13.7223 15.75 13.0564 15.7506 12.5185 15.7066C11.9719 15.662 11.4918 15.5676 11.0475 15.3413L11.7285 14.0048C11.926 14.1054 12.1868 14.1745 12.6407 14.2116C13.1033 14.2494 13.6975 14.25 14.55 14.25V15.75ZM10.7452 13.0215C10.9609 13.4448 11.3052 13.7891 11.7285 14.0048L11.0475 15.3413C10.3419 14.9817 9.76825 14.4081 9.40873 13.7025L10.7452 13.0215Z" fill="%23B5B5B5"/%3E%3Cpath d="M17 12L20 15L17 18" stroke="%23B5B5B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A') !important;
  }
  .base-item:not(.active):hover::after {
    opacity: 1;
    content: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2228%22%20viewBox%3D%220%200%2021%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M9%207.75C9%207.33579%209.33579%207%209.75%207V7C10.1642%207%2010.5%207.33579%2010.5%207.75V9.95C10.5%2010.8025%2010.5006%2011.3967%2010.5384%2011.8593C10.5755%2012.3132%2010.6446%2012.574%2010.7452%2012.7715C10.961%2013.1948%2011.3052%2013.539%2011.7285%2013.7548C11.926%2013.8554%2012.1868%2013.9245%2012.6407%2013.9616C13.1033%2013.9994%2013.6975%2014%2014.55%2014H17.9393L16.2197%2012.2803C15.9268%2011.9874%2015.9268%2011.5126%2016.2197%2011.2197C16.5126%2010.9268%2016.9874%2010.9268%2017.2803%2011.2197L20.2803%2014.2197C20.5732%2014.5126%2020.5732%2014.9874%2020.2803%2015.2803L17.2803%2018.2803C16.9874%2018.5732%2016.5126%2018.5732%2016.2197%2018.2803C15.9268%2017.9874%2015.9268%2017.5126%2016.2197%2017.2197L17.9393%2015.5H14.5179C13.705%2015.5%2013.0494%2015.5%2012.5185%2015.4566C11.9719%2015.412%2011.4918%2015.3176%2011.0475%2015.0913C10.3419%2014.7317%209.76825%2014.1581%209.40873%2013.4525C9.18239%2013.0082%209.08803%2012.5281%209.04336%2011.9815C8.99999%2011.4506%208.99999%2010.795%209%209.98212V7.75Z%22%20fill%3D%22%23CCCCCC%22%2F%3E%0A%3C%2Fsvg%3E);
  }
}
